.about-company {
  width: 100%;
  background-color: $dark-grey;
}

.about-company__container {
  display: flex;
  min-height: 4.5rem;
  align-items: center;
}

.about-company__info-list {
  @include indents();
  
  display: flex;
  list-style: none;
  
  margin-right: auto;
}

.about-company__info-list li {
  @include indents();
  @include font(1.4rem, 1.6rem, 500);

  color: $light-grey;

  padding-right: 2rem;
}

.about-company__add-call {
  @include indents();
  @include font(1.4rem, 1.6rem, 400);
  
  border-bottom: 0.1rem dashed;
  
  text-decoration: none;
  color: $yellow;

  margin-right: 2.7rem;
}

.about-company__social {
  margin-right: 2.7rem;
}

// .about-company__contacts {
//   margin-left: auto;
// }