.about-company {
  width: 100%;
  background-color: $dark-grey;
}

.about-company__container {
  display: flex;
  min-height: 4.5rem;
  align-items: center;
}

.about-company__info-list {
  @include indents();
  
  display: flex;
  list-style: none;
  
  margin-right: auto;

  li {
    padding-right: 2rem;
  }
}

.about-company__info-list a {
  @include indents();
  @include font(1.4rem, 1.6rem, 500);
  display: block;

  text-decoration: none;
  color: $light-grey;

  transition: 0.2s;
  &:hover {
    color: #FFFFFF;
  }
}

.about-company__add-call {
  @include indents();
  @include font(1.4rem, 1.6rem, 400);
  
  border-bottom: 0.1rem dashed;
  
  text-decoration: none;
  color: $yellow;

  margin-right: 2.7rem;

  transition: 0.2s;
  &:hover {
    color: $hover-yellow;
  }
}

.about-company__social {
  margin-right: 2.7rem;
}
