.analogs {
  margin-top: 8rem;
  padding-bottom: 8rem; 
}

.analogs__title {
  @include indents();
  @include font(3.6rem, 4.2rem, 700);
  color: #0B0B0B;

  margin-bottom: 2.6rem;
}

.analogs__wrapper {
  @include indents();
  position: relative;
}

.analogs__button {
  top: 21.5rem;
  transform: translateX(-50%);

  svg {
    transform: rotate(-90deg);
  }

  &--next {
    right: 0;
    transform: translateX(50%);

    svg {
      transform: rotate(90deg);
    }
  }
  
}

.analogs__list {
  @include indents();
  display: flex;
  width: 120rem;
  list-style: none;
}

.analogs__item {
  display: flex;
  flex-direction: column;
  width: 28.5rem;
  border: 0.1rem solid #ECEDEF;
  border-radius: 0.5rem;

  background: #FFFFFF;

  padding: 1.5rem 2rem 3.2rem 2rem;
  margin-right: 2rem;
}

.analogs__item-hidden {
  display: none;
}

.analogs__link {
  @include indents();
  position: relative;
  display: block;
  min-height: 25.7rem;
  text-decoration: none;
  color: $dark-grey;

  margin-bottom: 2rem;
}

.analogs__link-figure {
  @include indents();
}

.analogs__link-img {
  width: 100%;
  margin-bottom: 1rem;
}

.analogs__link-caption {
  @include indents();
  @include font(1.4rem, 1.2, 400);
}

.analogs__price {
  @include indents();
  margin-bottom: 0;
  margin-top: auto;
}

.analogs__instock {
  @include indents();
  @include font(1.2rem, 1.4rem, 400);
  color: $instock;

  margin-bottom: 0.3rem;
}

.analogs__full-price {
  @include indents();
  @include font(2.4rem, 2.8rem, 700);
  position: relative;

  margin-bottom: 0.5rem;
}

.analogs__wholesale-price {
  @include indents();
  @include font(1.4rem, 1.6rem, 400);

  position: relative;
  display: inline-block;
  color: $red;

  margin-bottom: 2.5rem;
}

.analogs__wholesale__info {
  position: absolute;
  top: 0rem;
  right: -2.3rem;

  cursor: $cursor;
}

.analogs__wholesale__info-popup {
  @include indents();
  @include font(1.6rem, 1.25, 400);
  display: none;
  position: absolute;
  width: 24rem;
  height: 11.1rem;
  top: 3.1rem;
  left: -2.1rem;

  border-radius: 0.4rem;

  background-color: #2E2E2E;
  color: #F5F6F9;

  padding: 1.5rem 1.8rem 1.6rem 2rem;

  &::after {
    content: "";
    position: absolute;
    top: -.6rem;
    left: 2rem;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 0.3rem;
    background-color: #2E2E2E;
    transform: rotate(45deg);
  }
}

.analogs__wholesale__info:hover .analogs__wholesale__info-popup{
  display: block;
}

.analogs__price-button {
  display: block;
  width: 24.5rem;
  margin-bottom: 0;
  margin-top: auto;
}

.analogs__item--out-of-stock {
  .analogs__instock {
    color: #828282;
  }
  .analogs__price-button {
    @include font(1.2rem, 1.4rem, 700);
    background: $bg-grey;

    &:hover {
      background-color: $hover-bg-grey;
    }
  }
}

.analogs__item--sale {
  .analogs__item-icon-sale {
    position: absolute;
    width: 2.6rem;
    height: 2.6rem;
    top: 0rem;
    left: 0rem;

    background: $red;
    border-radius: 0.4rem;

    transition: 0.2s;

    svg {
      fill: $dark-grey;
      margin-top: 0.7rem;
      margin-left: 0.7rem;
    }

    span {
      @include indents();
      @include font(1.3rem, 1.5rem, 500);
      position: absolute;
      color: transparent;
      top: 0.6rem;
      right: 0.7rem;
      transition: 0.1s;
    }

    &:hover {
      width: 7.9rem;
      span {
        color: $white-text;
      }
    }
  }

  .analogs__full-price-sale,
  .analogs__wholesale-price-sale {
    @include font(1.4rem, 1.6rem, 400);
    position: absolute;
    top: 0.7rem;
    right: 0;

    text-decoration: line-through;
    color: $light-grey;
  }

  .analogs__wholesale-price-sale {
    min-width: 4.8rem;
    top: 3.5rem;
    right: -0.1rem;
  }
}

@media (max-width: $desktop-width) {
  .analogs {
    margin-top: 4rem;
    padding-bottom: 0rem; 
    margin-bottom: 4rem;
  }
  
  .analogs__title {
    @include indents();
    @include font(2rem, 1.4, 700);
  
    margin-left: 1rem;
    margin-bottom: 1rem;
  }

  .analogs__button {
    display: none;
  }
  
  .analogs__list {
    @include indents();
    width: 100% !important;
    margin-left: 1rem;
  }

  .analogs__list .slick-prev,
  .analogs__list .slick-next {
  position: absolute;
  width: 3rem;
  height: 3rem;
  top: 47%;
  left: -1.5rem;

  z-index: 5;

  border: none;
  border-radius: 50%;

  transform: rotate(-90deg);

  background: #FFFFFF;
  background-image: url("img/icon/slider-arrow.svg");
  background-repeat: no-repeat;
  background-position: 0.8rem 1rem;

  color: transparent;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);

  transition: 0.2s;

  &:hover {
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  }
}

  .analogs__list .slick-next {
    left: auto;
    right: 0.6rem;

    transform: rotate(90deg);
}
  
  .analogs__item {
    width: auto;
    height: auto;
    padding: 0.5% 0.8% 0.5% 0.8%;
  }
  
  .analogs__link {
    @include indents();
    min-height: 18rem;
    margin-bottom: 1rem;
  }
  
  .analogs__link-img {
    width: 70%;
    margin-bottom: 1rem;
    margin: 0 auto;
    margin-bottom: 2%;
  }
  
  .analogs__link-caption {
    @include font(1.2rem, 1.2, 400);
  }
  
  .analogs__instock {
    @include font(1.1rem, 1.1rem, 400);
    margin-bottom: 0.5rem;
  }
  
  .analogs__full-price {
    @include indents();
    @include font(1.6rem, 1, 700);
  }
  
  .analogs__wholesale-price {
    @include indents();
    @include font(1.2rem, 1.2rem, 400);
    margin-bottom: 1rem;
  }
  
  .analogs__wholesale__info {
    right: -2rem;
  }
  
  .analogs__wholesale__info-popup {
    @include indents();
    @include font(1rem, 1.2, 400);
    width: 20rem;
    height: 4.8rem;
    top: 2rem;
    left: -10.8rem;
  
    padding: 0.6rem 1rem 0.3rem 1.5rem;
  
    &::after {
      top: -0.4rem;
      left: auto;
      right: 8rem;
      width: 1.2rem;
      height: 1.2rem;
    }
  }

  
  .analogs__price-button {
    @include indents();
    @include font(1.2rem, 1.6rem, 700);
    width: 100%;
    height: 3.5rem;
  }
  
  .analogs__item--out-of-stock {
    .analogs__instock {
      @include font(1.1rem, 1.1rem, 700);
    }
    .analogs__price-button {
      @include font(1.1rem, 1.1rem, 700);
    }
  }
  
  .analogs__item--sale {
    .analogs__item-icon-sale {
      width: 2.2rem;
      height: 2.2rem;
  
      svg {
        margin-top: 0.5rem;
        margin-left: 0.5rem;
      }
  
      span {
        @include font(1.2rem, 1.5rem, 500);
        top: 0.4rem;
        right: 1.2rem;
      }
    }
  
    .analogs__full-price-sale,
    .analogs__wholesale-price-sale {
      @include font(1rem, 1.2rem, 400);
      top: 0.4rem;
    }
  
    .analogs__wholesale-price-sale {
      top: 2rem;
      right: -1.5rem;
    }
  }
}

@media (max-width: $tablet-width) {
  .analogs {
    margin-top: 4rem;
    padding-bottom: 0rem; 
    margin-bottom: 4rem;
  }
  
  .analogs__title {
    @include indents();
    @include font(2rem, 1.4, 700);
  
    margin-left: 1rem;
    margin-bottom: 1rem;
  }

  .analogs__button {
    display: none;
  }
  
  .analogs__list {
    @include indents();
    width: 100% !important;
    margin-left: 1rem;
  }

  .analogs__list .slick-prev,
  .analogs__list .slick-next {
  position: absolute;
  width: 3rem;
  height: 3rem;
  top: 47%;
  left: -1.5rem;

  z-index: 5;

  border: none;
  border-radius: 50%;

  transform: rotate(-90deg);

  background: #FFFFFF;
  background-image: url("img/icon/slider-arrow.svg");
  background-repeat: no-repeat;
  background-position: 0.8rem 1rem;

  color: transparent;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);

  transition: 0.2s;

  &:hover {
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  }
}

  .analogs__list .slick-next {
    left: auto;
    right: 0.6rem;

    transform: rotate(90deg);
}
  
  .analogs__item {
    width: auto;
    height: auto;
    padding: 0.5% 0.8% 0.5% 0.8%;
  }
  
  .analogs__link {
    @include indents();
    min-height: auto;
    margin-bottom: 1rem;
  }
  
  .analogs__link-img {
    width: 70%;
    margin-bottom: 1rem;
    margin: 0 auto;
    margin-bottom: 2%;
  }
  
  .analogs__link-caption {
    @include font(1.2rem, 1.2, 400);
  }
  
  .analogs__instock {
    @include font(1.1rem, 1.1rem, 400);
    margin-bottom: 0.5rem;
  }
  
  .analogs__full-price {
    @include indents();
    @include font(1.6rem, 1, 700);
  }
  
  .analogs__wholesale-price {
    @include indents();
    @include font(1.2rem, 1.2rem, 400);
    margin-bottom: 1rem;
  }
  
  .analogs__wholesale__info {
    right: -2rem;
  }
  
  .analogs__wholesale__info-popup {
    @include font(1rem, 1.25, 400);
    width: 20.5rem;
    height: 4.6rem;
    top: 2rem;
    left: -2rem;

    padding: 0.5rem 0.7rem 1rem 0.7rem;
  
    &::after {
      top: -0.4rem;
      left: 2rem;
      right: auto;
      width: 1.2rem;
      height: 1.2rem;
    }
  }

  
  .analogs__price-button {
    @include indents();
    @include font(1.2rem, 1.6rem, 700);
    width: 100%;
    height: 3.5rem;
  }
  
  .analogs__item--out-of-stock {
    .analogs__instock {
      @include font(1.1rem, 1.1rem, 700);
    }
    .analogs__price-button {
      @include font(1.1rem, 1.1rem, 700);
    }
  }
  
  .analogs__item--sale {
    .analogs__item-icon-sale {
      width: 2.2rem;
      height: 2.2rem;
  
      svg {
        margin-top: 0.5rem;
        margin-left: 0.5rem;
      }
  
      span {
        @include font(1.2rem, 1.5rem, 500);
        top: 0.4rem;
        right: 1.2rem;
      }
    }
  
    .analogs__full-price-sale,
    .analogs__wholesale-price-sale {
      @include font(1rem, 1.2rem, 400);
      top: 0.4rem;
    }
  
    .analogs__wholesale-price-sale {
      top: 2rem;
      right: -1.5rem;
    }
  }
}