.cart {
  width: 18rem;
  height: 4.8rem;
  
}

.cart__link {
  display: flex;
  width: inherit;
  height: inherit;
  border-radius: 0.4rem;

  background-color: $bg-grey;
  align-items: center;
  text-decoration: none;

  &:hover {
    background-color: $hover-bg-grey;
  }
}

.cart__icon {
  position: relative;
  height: inherit;
  padding: 0.9rem 1.6rem 1rem 1.3rem;
}

.cart__popup {
  position: absolute;
  width: 0.9rem;
  height: 0.9rem;
  border-radius: 50%;
  background-color: $red;
  right: 1.3rem;
}

.cart__icon::after {
  content: "";
  position: absolute;
  width: 0.1rem;
  height: inherit;
  top: 0;
  left: 5.9rem;
  background-color: #E4E4E4;
}

.cart__info {
  @include indents();
  @include font(1.3rem, 1.5rem, 700);
  position: relative;
  height: inherit;
  padding-left: 0.9rem;
}

.cart__price {
  @include indents();
  padding-top: 0.7rem;
  color: $dark-grey;
}

.cart__counter {
  @include indents();
  padding-top: 0.4rem;
  font-weight: 400;
  color: #ACACAC;
}

@media (max-width: $desktop-width) {
  .cart {
    width: 4.8rem;
    height: 4.8rem;
  }
  .cart__link {
    @include indents();
    display: block;
    background-color: $bg-grey;
  }

  .cart__icon {
    top: 0.9rem;
    left: 0.9rem;
    padding: 0;
    fill: $dark-grey;
  }

  .cart__popup {
    right: -0.2rem;
    top: -1.3rem;
  }

  .cart__icon::after {
    display: none;
  }
  
  .cart__info {
    display: none;
  }
}

@media (max-width: $tablet-width) {
  .cart {
    width: 4rem;
    height: 4rem;
  }
  
  .cart__link {
    display: block;
    background-color: transparent;
  }
  
  .cart__icon {
    position: relative;
    height: auto;
    padding: 0;
    top: 0.6rem;
    left: 0.5rem;

    svg {
      stroke: $light-grey;
      fill: $light-grey;
    }
  }
  
  .cart__popup {
    right: -0.1rem;
    top: -1.3rem;
  }
  
  .cart__icon::after {
    display: none;
  }
  
  .cart__info {
    display: none;
  }
}