.footer {
  padding: 6.5rem 0;
  background: $yellow;
  color: $dark-grey;
}

.footer__container {
  display: flex;
  
  align-items: center;
}

.footer__title {
  @include indents();
  @include font(3.2rem, 3.5rem, 700);
  width: 40.8rem;
  
  background-image: url("img/icon/envelop.svg");
  background-repeat: no-repeat;
  background-position: 0 1rem;

  padding-left: 10.2rem;
}

.footer__text {
  @include indents();
  @include font(1.6rem, 1.4, 400);
  width: 26.4rem;
}

.footer__subscribe {
  @include indents();
  margin-left: auto;
  margin-right: 0;
}

@media (max-width: $desktop-width) {
  .footer {
    padding: 3rem 0;

  }
  
  .footer__container {
    display: flex;
    width: 100%
  }
  
  .footer__title {
    @include indents();
    @include font(2.2rem, 1.2, 700);
    width: 40%;
    
    background-position: 0 center;
  

    padding: 1.3rem 1rem 1.3rem 8.5rem;
    margin-bottom: 0rem
  }
  
  .footer__text {
    @include indents();
    @include font(1.4rem, 1.4, 400);

    width: 27%;

    padding-right: 3%;
  }
  
  .footer__subscribe {
    @include indents();
    width: 28%;
  }
}

@media (max-width: $tablet-width) {
  .footer {
    padding: 2rem 0;
  }
  
  .footer__container {
    position: relative;
    display: block;
    width: 100%
  }
  
  .footer__title {
    @include indents();
    @include font(2.2rem, 1.2, 700);
    width: auto;
    
    background-position: 0 center;
  

    padding: 1.3rem 0;
    padding-left: 8.5rem;
    margin-bottom: 0rem
  }
  
  .footer__text {
    @include indents();
    @include font(1.4rem, 1.4, 400);
    position: absolute;
    top: 50%;
    left: 6%;

    width: 40%;
  }
  
  .footer__subscribe {
    @include indents();
    width: auto;
    margin-left: auto;
    margin-right: 0;
  }
}