.login {
  width: 18rem;
  height: 4.8rem;

}

.login__link {
  @include indents();
  display: flex;
  width: inherit;
  height: inherit;
  border: none;
  border-radius: 0.4rem;

  background-color: $bg-grey;
  align-items: center;
  text-decoration: none;

  &:hover {
    background-color: $hover-bg-grey;
  }
}

.login__icon {
  position: relative;
  height: inherit;
  padding: 1.1rem 1.2rem 1rem 1.3rem;
  fill: #383838;
}

.login__icon::after {
  content: "";
  position: absolute;
  width: 0.1rem;
  height: inherit;
  top: 0;
  left: 5.2rem;
  background-color: #E4E4E4;
}

.login__text {
  @include indents();
  @include font(1.3rem, 1.5rem, 500);
  position: relative;
  height: inherit;
  padding-left: 0.9rem;
}

.login__text-login {
  @include indents();
  padding-top: 0.7rem;
  color: $dark-grey;
}

.login__text-logup {
  @include indents();
  padding-top: 0.4rem;
  font-weight: 400;
  color: #ACACAC;
}

@media screen and (max-width: $desktop-width) {
  .login {
    width: 4.8rem;
    height: 4.8rem;
  }
  .login__link {
    @include indents();
    display: block;
    background-color: $bg-grey;
  }

  .login__icon {
    top: 0.9rem;
    left: 0.9rem;
    padding: 0;
    fill: $dark-grey;
  }

  .login__icon::after {
    display: none;
  }
  
  .login__text {
    display: none;
  }
}

@media screen and (max-width: $tablet-width) {
  .login {
    width: 4rem;
    height: 4rem;
  }
  
  .login__link {
    @include indents();
    display: block;
    background-color: transparent;
  }

  .login__icon {
    position: relative;
    height: auto;
    top: 0.6rem;
    left: 0.5rem;
    padding: 0;
    fill: $light-grey;
  }

  .login__icon::after {
    display: none;
  }
  
  .login__text {
    display: none;
  }
}
