.main-nav__wrapper {
  @include indents();
  display: flex;
  margin-bottom: 3.6rem;
}

.main-nav__logo {
  margin-right: 2.8rem;
  fill: #383838;

  text-decoration: none;

  transition: 0.2s;
  &:hover {
    fill: #000;
  }
}

.main-nav__logo-text {
  padding-left: 1rem;
  padding-top: 0.2rem;
}

.main-nav__site-nav {
  @include indents();
  min-height: 2.4rem;
  margin-top: 3.6rem;
  margin-bottom: 1.8rem;
}

@media (max-width: $tablet-width) {
  .main-nav {
    border-bottom: 1px solid #666666;
  }
  .main-nav__wrapper {
    width: 100%;

    @include indents();
    align-items: center;
    justify-content: flex-end;

    padding-top: 0.9rem;
    padding-bottom: 0.5rem;
  }
  
  .main-nav__logo {
    position: absolute;
    left: 50%;

    fill: #FFFFFF;
    
    transform: translateX(-50%);

    svg:not(.main-nav__logo-text) {
      width: 4rem;
      height: 4rem;
    }
  }
  .main-nav__logo-text {
    height: 40px;
  }
  
  .main-nav__site-nav {
    @include indents();
    position: absolute;
    top: 5.5rem;
    left: 0;
    min-height: 2.4rem;
  }
}