.slider {
  position: relative;
  padding-left: 0.3rem;
}

.slider__slides {
  position: relative;
  width: 73.1rem;
  height: 45rem;
  overflow: hidden;

  margin-left: 7.9rem;
}

.slider__slide {
  @include indents();
  position: absolute;
  display: block;
  width: 73.1rem;
  height: 45rem;

  transition: ease-in-out .5s;

  img {
    display: block;
    height: 100%;
    object-fit: contain;
    margin: 0 auto;
  }
}

.slider__button-prev,
.slider__button-next {
  top: 0;
  left: 1.7rem;
}
.slider__button-next {
  top: 42rem;
  svg {
    fill: $dark-grey;
    transform: rotate(180deg);
  }
}

.slider__controlls {
  position: absolute;
  top: 0;
}

.slider__controller {
  position: absolute;
  display:flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 6rem;
  top: 5.5rem;
  border: 0.1rem solid #EEEEEE;

  cursor: $cursor;
  
  img {
    display: block;
    margin: 0 auto;
  }

  &-2 {
    top: 5.5rem + 7rem;
  }
  &-3 {
    top: 5.5rem + 7rem + 7rem;
  }
  &-4 {
    top: 5.5rem + 7rem + 7rem + 7rem;
  }
  &-5 {
    top: 5.5rem + 7rem + 7rem + 7rem + 7rem;
  }

  &:hover {
    border: 0.1rem solid #767676;
  }
}
.active-slide {
  border: 1px solid #767676;
}
