.social__list {
  @include indents();

  display: flex;
  justify-content: space-around;
  align-items: center;

  min-width: 9.5rem;

  list-style: none;
}

.social__item {
  @include indents();
  padding-right: 1.5rem;

  &:last-child {
    padding: 0;
  }

  svg {
    fill: #B8B8B8;
    display: block;
    
    transition: 0.2s;
    &:hover {
      fill: #FFFFFF;
    }
  }
  
}
