.social__list {
  @include indents();

  display: flex;
  justify-content: space-around;
  align-items: center;

  min-width: 9.5rem;

  list-style: none;
}

.social__item {
  @include indents();
  padding-right: 1.5rem;

  &:last-child {
    padding: 0;
  }

  svg {
    fill: #B8B8B8;
    display: block;
    
    transition: 0.2s;
    &:hover {
      fill: #FFFFFF;
    }
  }
}

@media screen and (max-width: $desktop-width) {
  .social__list {
    @include indents();
  
    display: flex;
    justify-content: space-around;
    align-items: center;
  
    min-width: 1%;
  
    list-style: none;
  }
  
  .social__item {
    @include indents();
    padding-right: 15%;
  
    &:last-child {
      padding: 0;
    }
  }
}

@media screen and (max-width: $tablet-width) {
  .social__list {
    @include indents();
    min-width: 20%;
  }
  
  .social__item {
    @include indents();
    padding-right: 10%;
  
    &:last-child {
      padding: 0;
    }
  }
}
