.sub-menu__list {
  @include indents();
  display: flex;
  list-style: none;
  margin-left: 2.7rem;
}

.sub-menu__item {
  @include font(1.4rem, 1.6rem, 400);
  padding-right: 2.3rem;
  text-transform: uppercase;
  &:last-child {
    padding-right: 0;
  }
  a {
    vertical-align: middle;
    color: $light-grey;
    text-decoration: none;

    transition: 0.2s;
    &:hover {
      color: $dark-grey;
    }
  }
}

@media screen and (max-width: $desktop-width) {
  .sub-menu__list {

    flex-wrap: wrap;
    margin-left: 0rem;
  }
  
  .sub-menu__item {
    @include font(1.2rem, 1.4rem, 400);
    padding-right: 1rem;
  }
}

@media screen and (max-width: $tablet-width) {
  .sub-menu__list {
    @include indents();
    display: none;
  }
  
  .sub-menu__item {
    @include indents();

    border-bottom: 1px solid #666666;

    text-align: center;

    padding: 0;

    a {
      @include font(1.2rem, 2.5rem, 700);
      display: block;
      min-height: 2.5rem;
      
      background-color: $light-grey;
      color: $dark-grey;
      text-align: center;

      padding: 0 $mobile-padding;
    }
  }

  .catalog-opened .sub-menu__list {
    display: block;
  }

  .no-js .sub-menu__list {
    display: block;
  }
}