.subscribe {
  display: flex;
}
.subscribe__email {
  width: 25rem;
  height: 4.5rem;
  border: 0.1rem solid $dark-grey;
  border-radius: 0.4rem;
  background-color: $yellow;

  padding-left: 2rem;
  margin-right: 2rem;
  &::placeholder {
    @include font(1.4rem, 1.6rem, 400);
  }
  &:focus {
    outline: none;
    background-color: $bg-grey;
  }
}

.subscribe__button {
  width: 18.2rem;
  background: $dark-grey;
  color: $yellow;

  &:hover {
    background: $dark-grey;
    color: #FFFFFF;
  }
}