.subscribe {
  display: flex;
}
.subscribe__email {
  width: 25rem;
  height: 4.5rem;
  border: 0.1rem solid $dark-grey;
  border-radius: 0.4rem;
  background-color: $yellow;

  padding-left: 2rem;
  margin-right: 2rem;
  &::placeholder {
    @include font(1.4rem, 1.6rem, 400);
  }
  &:focus {
    outline: none;
    background-color: $bg-grey;
  }
  &:hover {
    border: 1px solid #B8B8B8;
    cursor: $cursor;
  }
}

.subscribe__button {
  width: 18.2rem;
  background: $dark-grey;
  color: $yellow;

  &:hover {
    background: $dark-grey;
    color: $white-text;
  }
}

@media (max-width: $desktop-width) {
  .subscribe {
    display: block;
  }
  .subscribe__email,
  .subscribe__button {
    @include indents();
    width: 100%;
  }

  .subscribe__email {
    padding-left: 2rem;
    margin-bottom: 1rem;
  }
}

@media (max-width: $tablet-width) {
  .subscribe {
    display: block;
  }

  .subscribe__email,
  .subscribe__button {
    display: block;
    width: 50%;
    margin-right: 0;
    margin-left: auto;
  }

  .subscribe__email {
    padding-left: 2rem;
    margin-bottom: 1rem;
  }
}