.user-nav {
  display: flex;
}

.user-nav__search {
  @include indents();
  display: flex;
}

.user-nav__search-input {
  @include indents();
  display: inline-block;

  width: 54.3rem;
  height: 4.8rem;
  
  border: 0.1rem solid #ECEDEF;
  border-bottom-left-radius: 0.4rem;
  border-top-left-radius: 0.4rem;

  padding-left: 2rem;

  &::placeholder {
    @include font(1.4rem, 4.6rem, 400);
    color: $light-grey;
  }
  &:hover {
    border: 0.1rem solid #B8B8B8;
    cursor: $cursor;
  }
  &:focus {
    border: 0.1rem solid #B8B8B8;
    outline: none;
  }
  &:hover {
    border: 1px solid #B8B8B8;
    cursor: $cursor;
  }
}

.user-nav__search-btn {
  @include indents();
  display: inline-block;
  width: 4.8rem;
  height: 4.8rem;

  border: none;
  border-radius: 0 ;
  border-bottom-right-radius: 0.4rem;
  border-top-right-radius: 0.4rem;

  background-color: $yellow;

  margin-right: 3.5rem;

  svg{
    margin-top: 1.6rem;
  }
}

.user-nav__login {
  margin-right: 1.5rem;
}

@media (max-width: $desktop-width) {
  .user-nav {
    display: flex;
    justify-content: flex-end;
    width: 73%;
  }
  
  .user-nav__search {
    @include indents();
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .user-nav__search-input {
    @include indents();
    flex-grow: 1;
    width: auto;
    padding-left: 2rem;
  }
}

@media (max-width: $tablet-width) {
  .user-nav {
    flex-wrap: nowrap;
  }

  .user-nav__search {
    @include indents();
    position: absolute;
    width: 90%;
    top: 32rem;
    left: $mobile-padding;
  }

  .user-nav__search-input {
    @include indents();
    width: 90%;
    height: 4rem;
  
    padding-left: $mobile-padding;
    &::placeholder {
      line-height: 3.8rem;
    }
  }
  
  .user-nav__search-btn {
    @include indents();
    width: 4rem;
    height: 4rem;
  
    margin-right: 0;
  
    svg{
      margin-top: 1.3rem;
    }
  }

  .user-nav__login {
    margin-right: 0rem;
  }

  .page-header--closed .user-nav__search {
    display: none;
  }

  .catalog-opened .user-nav__search {
    top: 32rem + 23.5;
  }
  
  .no-js.page-header--closed .user-nav__search {
    display: flex;
    top: 32rem + 23.5;
  }
}