$dark-grey: #383838;
$light-grey: #B8B8B8;
$yellow: #FFD637;
$red: #F71412;
$bg-grey: #F8F8F8;
$instock: #32A73C;

$hover-yellow: #FFC237;
$hover-bg-grey: #EFEFEF;

$desktop-width: 1440px;
$tablet-width: 768px;
$mobile-width: 375px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$cursor: url("img/icon/cursor.png"), pointer;

@mixin indents {
  margin: 0;
  padding: 0;
}

@mixin font ($font-size, $line-height, $font-weight: 400) {
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
}